<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="APITestSuite">
    <test name="Debit Order Tests">
        <classes>
    		<class name="tests.SSDebitorderAllTestCase" /> 
		</classes> 
        
     <!--For different file 
    <classes> 
      <class name="tests.PostSSDebitOrder" />  tests.SSDebitororderAllTestCase    tests.GetDealwithAsseration
    </classes>
    -->
    
    </test>
</suite>
